In [51]:
from bs4 import BeautifulSoup
import requests
import csv

In [52]:
url = "https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_3_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=8f04ad1b-e8f8-44ac-8e38-0a560f87efe2&as-searchtext=lap"
response = requests.get(url)
htmlcontent = response.content
soup = BeautifulSoup(htmlcontent, "html.parser")

In [53]:
products = []
prices = []
ratings = []
product = soup.find('div', attrs={'class':'_4rR01T'})
print(product.text)

Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 GB/512 GB SSD/Windows 11 Home) 15ALC6 Thin and Light Lap...

In [54]:
# soup.find_all('a', href=True, attrs={'class' : '_1fQZEK'})

In [55]:
for a in soup.find_all('a', href=True, attrs={'class' : '_1fQZEK'}):
    name = a.find('div', attrs={'class':'_4rR01T'})
    price = a.find('div', attrs={'class':'_30jeq3 _1_WHN1'})
    rating = a.find('div', attrs={'class':'_3LWZlK'})
    # print(rating)
    products.append(name.text)
    prices.append(price.text)
    try:
        ratings.append(rating.text)
    except:
        print("None occured")
    finally:
        ratings.append('0')

None occured
None occured
None occured

In [56]:
import pandas as pd

In [57]:
print("product name ",len(products),"\nprice ",len(prices),"\nratings ",len(ratings))

product name  24
price  24
ratings  45

In [59]:
products[23],prices[23],ratings[23]

('Lenovo IdeaPad 3 Celeron Dual Core - (8 GB/256 GB SSD/Windows 11 Home) 81WQ00MQIN|81WQ00NXIN Laptop',
 '₹30,490',
 '0')

In [61]:
df = pd.DataFrame({'Product Name' : products,'Prices' : prices,'Ratings' : ratings[:24] })
df.head()

                                        Product Name     Prices Ratings
0  Lenovo IdeaPad 3 Ryzen 5 Hexa Core 5500U - (8 ...    ₹45,990     4.3
1  ASUS ROG Strix G15 Ryzen 7 Octa Core 4800H - (...    ₹95,990       0
2  ASUS VivoBook K15 OLED Ryzen 7 Octa Core 5700U...    ₹69,990     4.8
3  ASUS Vivobook Ryzen 9 Octa Core 5900HX - (16 G...  ₹1,24,990       0
4  acer Aspire 7 Ryzen 5 Hexa Core 5500U - (8 GB/...    ₹49,990     4.3

In [62]:
df[df.Prices==max(df.Prices)]

                                        Product Name   Prices Ratings
1  ASUS ROG Strix G15 Ryzen 7 Octa Core 4800H - (...  ₹95,990       0

In [63]:
df.to_csv("flipkart_laptop_scraped_data.csv")

In [65]:
print("product name ",len(products),"\nprice ",len(prices),"\nratings ",len(ratings))
print(products)
print(prices)
print(ratings)
ratings = [i for i in ratings if i != '0']

print("product name ",len(products),"\nprice ",len(prices),"\nratings ",len(ratings))

TypeError: object of type 'NoneType' has no len()