In [71]:
from bs4 import BeautifulSoup
import requests
import csv
import pandas as pd
import json

In [72]:

headers = {
    'authority': 'www.swiggy.com',
    '__fetch_req__': 'true',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'content-type': 'application/json',
    'cookie': '__SW=B8ryQmDxjt8D14p_0CLQqiir4Awag2tw; _guest_tid=6e173c56-9b1b-411a-838a-3f6061267fc2; _device_id=a6682669-75ec-18a6-8f57-2e77ad7ce873; _sid=2j25885a-243d-4a83-b3dc-27ac0ca7b5dd; fontsLoaded=1; _gcl_au=1.1.1758450616.1662972610; _ga=GA1.2.1562727421.1662972610; _gid=GA1.2.1573902211.1662972610; WZRK_G=c35560629931428e898681b8c4e4f662; userLocation={%22address%22:%22Varanasi%2C%20Uttar%20Pradesh%2C%20India%22%2C%22area%22:%22%22%2C%22deliveryLocation%22:%22%22%2C%22lat%22:25.3176452%2C%22lng%22:82.9739144}; dadl=true; order_source=Google-Sok; order_medium=CPC; order_campaign=google_search_sok_food_na_narm_order_web_m_web_clubbedcities_neev_brand_newuser_v3_ei_brand_em; _gcl_aw=GCL.1662977298.CjwKCAjwsfuYBhAZEiwA5a6CDP0Kjoj9F5f-_CaH12dJIAMMMlNza0Thcz4sICooNW2FnbykqqhnbRoCXe8QAvD_BwE; _gac_0=1.1662977299.CjwKCAjwsfuYBhAZEiwA5a6CDP0Kjoj9F5f-_CaH12dJIAMMMlNza0Thcz4sICooNW2FnbykqqhnbRoCXe8QAvD_BwE; WZRK_S_W86-ZZK-WR6Z=%7B%22p%22%3A2%2C%22s%22%3A1662979065%2C%22t%22%3A1662979203%7D; _gat_UA-53591212-4=1',
    'referer': 'https://www.swiggy.com/city/pune?page=2',
    'sec-ch-ua': '"Google Chrome";v="105", "Not)A;Brand";v="8", "Chromium";v="105"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36',
}

params = (
    ('page', '1'),
    ('ignoreServiceability', 'true'),
    ('lat', '18.5362'),
    ('lng', ' 73.8940'),
    ('pageType', 'SEE_ALL'),
    ('sortBy', 'RELEVANCE'),
    ('page_type', 'DESKTOP_SEE_ALL_LISTING'),
)

In [81]:
response = requests.get('https://www.swiggy.com/dapi/restaurants/list/v5', headers=headers, params=params)
response = response.text
data1 = json.loads(response)
page_no = data1["data"]["pages"]
page_no

40

In [82]:
names = []
restaurants = []
cities = []
prices = []
ratings = []
deliveryTimes = []
page = 0

In [83]:
for page in range(page_no):
    headers = {
        'authority': 'www.swiggy.com',
        '__fetch_req__': 'true',
        'accept': '*/*',
        'accept-language': 'en-US,en;q=0.9',
        'content-type': 'application/json',
        'cookie': '__SW=B8ryQmDxjt8D14p_0CLQqiir4Awag2tw; _guest_tid=6e173c56-9b1b-411a-838a-3f6061267fc2; _device_id=a6682669-75ec-18a6-8f57-2e77ad7ce873; _sid=2j25885a-243d-4a83-b3dc-27ac0ca7b5dd; fontsLoaded=1; _gcl_au=1.1.1758450616.1662972610; _ga=GA1.2.1562727421.1662972610; _gid=GA1.2.1573902211.1662972610; WZRK_G=c35560629931428e898681b8c4e4f662; userLocation={%22address%22:%22Varanasi%2C%20Uttar%20Pradesh%2C%20India%22%2C%22area%22:%22%22%2C%22deliveryLocation%22:%22%22%2C%22lat%22:25.3176452%2C%22lng%22:82.9739144}; dadl=true; order_source=Google-Sok; order_medium=CPC; order_campaign=google_search_sok_food_na_narm_order_web_m_web_clubbedcities_neev_brand_newuser_v3_ei_brand_em; _gcl_aw=GCL.1662977298.CjwKCAjwsfuYBhAZEiwA5a6CDP0Kjoj9F5f-_CaH12dJIAMMMlNza0Thcz4sICooNW2FnbykqqhnbRoCXe8QAvD_BwE; _gac_0=1.1662977299.CjwKCAjwsfuYBhAZEiwA5a6CDP0Kjoj9F5f-_CaH12dJIAMMMlNza0Thcz4sICooNW2FnbykqqhnbRoCXe8QAvD_BwE; WZRK_S_W86-ZZK-WR6Z=%7B%22p%22%3A2%2C%22s%22%3A1662979065%2C%22t%22%3A1662979203%7D; _gat_UA-53591212-4=1',
        'referer': 'https://www.swiggy.com/city/pune?page=2',
        'sec-ch-ua': '"Google Chrome";v="105", "Not)A;Brand";v="8", "Chromium";v="105"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"Windows"',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-origin',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36',
    }

    params = (
        ('page', page),
        ('ignoreServiceability', 'true'),
        ('lat', '18.5362'),
        ('lng', ' 73.8940'),
        ('pageType', 'SEE_ALL'),
        ('sortBy', 'RELEVANCE'),
        ('page_type', 'DESKTOP_SEE_ALL_LISTING'),
    )

    response = requests.get('https://www.swiggy.com/dapi/restaurants/list/v5', headers=headers, params=params)
    response = response.text
    page += 1
    print("page no is "+str(page))
    data1 = json.loads(response)
    try: 
        data2 = data1["data"]["cards"] 
    except:
        continue
    for i in range(len(data2)):
        name = data2[i]["data"]["data"]["name"]
        restaurant = data2[i]["data"]["data"]["slugs"]["restaurant"]
        city = data2[i]["data"]["data"]["slugs"]["city"]
        price = data2[i]["data"]["data"]["costForTwoString"]
        price = int(str(price)[1:int(len(price)-8)])
        rating = data2[i]["data"]["data"]["totalRatingsString"]
        deliveryTime = data2[i]["data"]["data"]["deliveryTime"]
        # print("Name : "+name+"| Price"+str(price)+"| Rating"+rating+"| Delivery Time : "+str(deliveryTime))

        names.append(name)
        restaurants.append(restaurant)
        cities.append(city)
        prices.append(price)
        ratings.append(rating)
        deliveryTimes.append(deliveryTime)

page no is 1
page no is 2
page no is 3
page no is 4
page no is 5
page no is 6
page no is 7
page no is 8
page no is 9
page no is 10
page no is 11
page no is 12
page no is 13
page no is 14
page no is 15
page no is 16
page no is 17
page no is 18
page no is 19
page no is 20
page no is 21
page no is 22
page no is 23
page no is 24
page no is 25
page no is 26
page no is 27
page no is 28
page no is 29
page no is 30
page no is 31
page no is 32
page no is 33
page no is 34
page no is 35
page no is 36
page no is 37
page no is 38
page no is 39
page no is 40

In [84]:
print("name : ",len(names))
print("restaurant :",len(restaurants))
print("cities : ",len(cities))
print("prices : ",len(prices))
print("ratings : ",len(ratings))
print("deliveryTime : ",len(deliveryTimes))

name :  526
restaurant : 526
cities :  526
prices :  526
ratings :  526
deliveryTime :  526

In [85]:
data = pd.DataFrame(
    {
        "name" : names,
        "restaurant" : restaurants,
        "city" : cities,
        "price" : prices,
        "rating" : ratings,
        "deliveryTime" : deliveryTimes
    }
)
data.head()

,name,restaurant,city,price,rating,deliveryTime
0,Pizza Hut,pizza-hut-kalyani-bungalow-koregaon-park,pune,350,100+ ratings,39
1,McDonald's,mc-donalds-koregaon-park-koregaon-park,pune,400,1000+ ratings,36
2,Uncle's Chinese,uncles-chinese-koregaon-park,pune,350,500+ ratings,35
3,Theobroma,theobroma-koregaon-park-koregaon-park,pune,800,100+ ratings,28
4,Rolls Mania,rolls-mania-camp-camp,pune,200,500+ ratings,30

In [86]:
# Here is our required data in Pune (https://www.swiggy.com/city/pune)
data[data.price==min(data.price)] # dish/food : Shaukeen Paan Kharadi and price : 50 

# NOTE : If result is not same then just run it again.

,name,restaurant,city,price,rating,deliveryTime
361,Shaukeen Paan Kharadi,shaukeen-paan-kharadi-kharadi-kharadi,pune,50,20+ ratings,42
501,Shaukeen Paan Kharadi,shaukeen-paan-kharadi-kharadi-kharadi,pune,50,20+ ratings,42

In [87]:
data.to_csv("Swiggy_Pune_FoodDishes.csv")